body {		
    background: $site-color-bg;
	color: $site-color-font;

	text-transform: none;
	text-decoration: none;
	text-align: left;
	
	line-height: 32px;
	word-wrap: normal;
	
	font-variant: normal;
	font-style: normal;
	font-weight: 300;
	font-size: $fontsize-normal;
	font-family: $site-fontfamily;
			
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: $selection-color; 
    
}

::selection 	 	{ background: invert($selection-color); color: $selection-color; }
::-moz-selection 	{ background: invert($selection-color); color: $selection-color; }
img::selection 		{ background: invert($selection-color); color: $selection-color; }
img::-moz-selection	{ background: invert($selection-color); color: $selection-color; } 


a        { color: $site-color-font; text-decoration: underline; }
a:hover  { color: $site-color-font; text-decoration: underline; }
a:active { color: $site-color-font; text-decoration: underline; }

em       { font-style: italic; font-weight: normal; }
hr       { display: none; }

cite     { border-bottom: 1px dashed #ccc; }

h1, h2     { font-weight: 500; }
h3, h4, h5 { font-weight: 500; }

h1, h2, h3, h4, h5 {
    font-family: $site-header-fontfamily;
    text-transform: uppercase;
}



path {
    fill: white;
    stroke: none;
    stroke-width: 0;
}


// DEFAULTS


* { @include box-sizing(border-box); *behavior: url(assets/library/boxsizing.htc); }

.left  { float: left; }
.right { float: right; }

.block { display: block; }
.inline { display: inline-block; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed;}

.clearfix { @include clearfix(); }

