.slider-frame {
    width: 100%;
    overflow: hidden
}

.layout-header {
    margin: $spacing-quad auto 0 auto;
    
    @include respond(mobile) { @include rgrid(mobile); margin-top: 0; }
    @include respond(tablet) { @include rgrid(tablet); margin-top: $spacing;}
    @include respond(small)  { @include rgrid(small);  margin-top: $spacing-double; }
    @include respond(screen) { @include rgrid(screen); }
    @include respond(large)  { @include rgrid(large);  }
    @include respond(huge)   { @include rgrid(huge);   } 
}   

.layout-section {   
    display: block;
    margin-top: $spacing-quad;
}

#contact {
    
    margin-bottom: $spacing * 8;
}

* {
    @include transition-property(width, height, margin, padding, opacity, background-color, color, top, font);
    @include transition-duration(0.37s);
    @include transition-timing-function(ease);
}




// Testing grid.

.grid {
    position: fixed;
    
    z-index: -1;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-display {     
    @include transition-property(width, opacity);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-in);
    @include opacity(0);

    height: 100%;
    margin: 0 auto;
    background: url("http://stream.stumptownbear.com/grids/48.12.png") top left repeat;    
    
    @include respond(mobile) { @include rgrid(mobile); }
    @include respond(tablet) { @include rgrid(tablet); }
    @include respond(small)  { @include rgrid(small);  }
    @include respond(screen) { @include rgrid(screen); }
    @include respond(large)  { @include rgrid(large);  }
    @include respond(huge)   { @include rgrid(huge);   }
}