.heading {
    display: block;
    
    padding: 130px 0 160px;
    background: #333;
      

    path {
        fill: white;
    }
}



.heading-icon {    
    margin: 0 auto;
    
    @include grid(4);
    height: 137px;
    
}

.heading-title {
    margin: $spacing-double auto $spacing auto;
    text-align: center;
    
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1px;
    
    color: white;
}

.heading-nav { 
    display: block;
    margin: 0 auto;
    @include grid(5);
    
    text-align: center;
    text-transform: uppercase;
    font-family: $site-header-fontfamily;
    font-size: 20px;
    font-weight: 300;
    color: white;
    
    & > li {
        display: inline-block;
        
        &:not(:last-child):after {
            content: '.';
            margin: 0 6px;
        }
    }
    
    & > li > a { color: white; text-decoration: none; }
}

.heading-nav-work:hover    { color: #45c366; border-bottom: 1px solid #45c366; }
.heading-nav-history:hover { color: #1ba4db; border-bottom: 1px solid #1ba4db; }
.heading-nav-contact:hover { color: #d44242; border-bottom: 1px solid #d44242; }

    @include respond(mobile) { .heading { padding: 100px 0 120px; } .heading-title { font-size: 36px; margin: $spacing auto $spacing-half auto;} }
    @include respond(tablet) { .heading { padding: 90px 0 100px; }  .heading-title { font-size: 36px; margin: $spacing auto $spacing-half auto; }}
    @include respond(small)  { .heading { padding: 80px 0 90px; }  }
                               .heading {                         }  
    @include respond(large)  { .heading { padding: 150px 0 180px; }  }
    @include respond(huge)   { .heading { padding: 170px 0 200px; }  } 