.item { 
    text-align: center;
    
}
 
.item-content { 
    margin: 0 auto;
    
    p, ul, ol { margin-bottom: $spacing; padding: 0; }
    
    h2, h3, h4, h5 { 
        clear: both;
        margin-bottom: $spacing; 
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1em;
    }
}

.item-content-title { 
    margin-top: $spacing;   
    font-size: 36px !important; 
}

.item-content-challenge,
.item-content-solution {
    @include grid(9);
    margin:  $spacing 0;
    padding: 0 $spacing;
    
    h4 { font-size: 30px; }
}


.item-content-challenge {
    float: right;
    text-align: left;
}

.item-content-solution {
    float: left; 
    text-align: right;
}

.item-content > p {
    padding: 0 $spacing; 
}


.item-content { 
    @include rgrid(screen);
    
    & > p { @include rgrid(small); margin-left: auto; margin-right: auto; }
    
}

@include respond(mobile) { 
    .item-content   { @include rgrid(mobile); }
    .item-content > p { @include rgrid(mobile); }
    
    .item-content-challenge,
    .item-content-solution {
        @include rgrid(mobile);
        text-align: center;
    }
}

@include respond(tablet) { 
    .item-content     { @include rgrid(tablet); }
    .item-content > p { @include rgrid(tablet); }
    
    .item-content-challenge,
    .item-content-solution {
        @include rgrid(tablet);
        text-align: center;
    }
}

@include respond(small) { 
    .item-content     { @include rgrid(small); }
    .item-content > p { @include rgrid(tablet); }
    
    .item-content-challenge,
    .item-content-solution {
        @include grid(6);
    }
}