/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, scss/style/_base.scss */
body {
  background: white;
  color: #333333;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  line-height: 1.5em;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  font-family: "Droid Serif", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #eeccb7;
}

/* line 23, scss/style/_base.scss */
::selection {
  background: #113348;
  color: #eeccb7;
}

/* line 24, scss/style/_base.scss */
::-moz-selection {
  background: #113348;
  color: #eeccb7;
}

/* line 25, scss/style/_base.scss */
img::selection {
  background: #113348;
  color: #eeccb7;
}

/* line 26, scss/style/_base.scss */
img::-moz-selection {
  background: #113348;
  color: #eeccb7;
}

/* line 29, scss/style/_base.scss */
a {
  color: #333333;
  text-decoration: underline;
}

/* line 30, scss/style/_base.scss */
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 31, scss/style/_base.scss */
a:active {
  color: #333333;
  text-decoration: underline;
}

/* line 33, scss/style/_base.scss */
em, cite {
  font-style: italic;
  font-weight: normal;
}

/* line 34, scss/style/_base.scss */
hr {
  display: none;
}

/* line 36, scss/style/_base.scss */
h1, h2 {
  font-weight: 500;
}

/* line 37, scss/style/_base.scss */
h3, h4, h5 {
  font-weight: 500;
}

/* line 39, scss/style/_base.scss */
h1, h2, h3, h4, h5 {
  font-family: "Museo Sans";
  text-transform: uppercase;
}

/* line 46, scss/style/_base.scss */
path {
  fill: white;
  stroke: none;
  stroke-width: 0;
}

/* line 56, scss/style/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/library/boxsizing.htc);
}

/* line 58, scss/style/_base.scss */
.left {
  float: left;
}

/* line 59, scss/style/_base.scss */
.right {
  float: right;
}

/* line 61, scss/style/_base.scss */
.block {
  display: block;
}

/* line 62, scss/style/_base.scss */
.inline {
  display: inline-block;
}

/* line 64, scss/style/_base.scss */
.relative {
  position: relative;
}

/* line 65, scss/style/_base.scss */
.absolute {
  position: absolute;
}

/* line 66, scss/style/_base.scss */
.fixed {
  position: fixed;
}

/* line 68, scss/style/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, scss/style/_layout.scss */
.slider-frame {
  width: 100%;
  overflow: hidden;
}

/* line 6, scss/style/_layout.scss */
.layout-header {
  margin: 48px auto 0 auto;
}
@media only screen and (max-width: 480px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 100%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 468px;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 708px;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 1153px) and (max-width: 1440px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1068px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1428px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1908px;
  }
}

/* line 17, scss/style/_layout.scss */
.layout-section {
  margin-top: 48px;
}

/* line 23, scss/style/_layout.scss */
* {
  -webkit-transition-property: width, height, margin, padding;
  -moz-transition-property: width, height, margin, padding;
  -o-transition-property: width, height, margin, padding;
  transition-property: width, height, margin, padding;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 34, scss/style/_layout.scss */
.grid {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 45, scss/style/_layout.scss */
.grid-display {
  -webkit-transition-property: width, opacity;
  -moz-transition-property: width, opacity;
  -o-transition-property: width, opacity;
  transition-property: width, opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  opacity: 0.05;
  height: 100%;
  margin: 0 auto;
  background: url("http://stream.stumptownbear.com/grids/48.12.png") top left repeat;
}
@media only screen and (max-width: 480px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 468px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 708px;
  }
}
@media only screen and (min-width: 1153px) and (max-width: 1440px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 1068px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 1428px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 45, scss/style/_layout.scss */
  .grid-display {
    width: 1908px;
  }
}

/* line 1, scss/style/modules/_heading.scss */
.heading {
  display: block;
  padding: 130px 0 160px;
  background: #333;
}
@media only screen and (max-width: 480px) {
  /* line 1, scss/style/modules/_heading.scss */
  .heading {
    padding: 100px 0 120px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 1, scss/style/modules/_heading.scss */
  .heading {
    padding: 110px 0 130px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 1, scss/style/modules/_heading.scss */
  .heading {
    padding: 150px 0 180px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 1, scss/style/modules/_heading.scss */
  .heading {
    padding: 170px 0 200px;
  }
}

/* line 14, scss/style/modules/_heading.scss */
.heading-icon {
  margin: 0 auto;
  width: 228px;
  height: 137px;
}

/* line 22, scss/style/modules/_heading.scss */
.heading-title {
  margin: 12px auto 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
}

/* line 32, scss/style/modules/_heading.scss */
.heading-nav {
  display: block;
  margin: 0 auto;
  width: 228px;
  color: white;
  font-weight: 300;
  font-family: "Museo Sans";
  font-size: 16px;
  text-transform: uppercase;
}
/* line 44, scss/style/modules/_heading.scss */
.heading-nav > li {
  float: left;
}
/* line 47, scss/style/modules/_heading.scss */
.heading-nav > li:not(:last-child):after {
  content: '.';
  margin: 0 6px;
}
/* line 53, scss/style/modules/_heading.scss */
.heading-nav > li > a {
  color: white;
  text-decoration: none;
}

/* line 1, scss/style/modules/_media.scss */
.media {
  width: 100%;
}

/* line 5, scss/style/modules/_media.scss */
.media > a {
  display: block;
  width: 100%;
}

/* line 11, scss/style/modules/_media.scss */
.media-icon,
.media-label {
  display: inline-block;
  vertical-align: middle;
}

/* line 20, scss/style/modules/_media.scss */
.media > a {
  background: #f2f2f2;
  color: #333;
}

/* line 21, scss/style/modules/_media.scss */
.media > a:hover {
  background: #e6e6e6;
  color: #222;
}

/* line 22, scss/style/modules/_media.scss */
.media-icon {
  color: white;
}

/* line 1, scss/style/modules/_header.scss */
.header {
  position: relative;
  padding: 18px 0 18px 0;
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

/* line 12, scss/style/modules/_header.scss */
.header-arrow {
  position: absolute;
  left: 50%;
  bottom: 12px;
  margin-left: -50px;
  width: 100px;
  height: 12px;
  color: #222;
}
/* line 23, scss/style/modules/_header.scss */
.header-arrow path {
  fill: #fff;
}

/* line 26, scss/style/modules/_header.scss */
.header-title {
  font-weight: 500;
  font-size: 30px;
}

/* line 32, scss/style/modules/_header.scss */
.header-work {
  background-color: #4a975e;
}
/* line 35, scss/style/modules/_header.scss */
.header-work > .header-arrow {
  color: #4a975e;
}

/* line 38, scss/style/modules/_header.scss */
.header-history {
  background-color: #396f85;
}
/* line 41, scss/style/modules/_header.scss */
.header-history > .header-arrow {
  color: #396f85;
}

/* line 44, scss/style/modules/_header.scss */
.header-contact {
  background-color: #d44242;
}
/* line 47, scss/style/modules/_header.scss */
.header-contact > .header-arrow {
  color: #d44242;
}

/* line 1, scss/style/modules/_item.scss */
.item {
  text-align: center;
}

/* line 6, scss/style/modules/_item.scss */
.item-content {
  margin: 0 auto;
}
/* line 9, scss/style/modules/_item.scss */
.item-content p, .item-content ul, .item-content ol {
  margin-bottom: 12px;
  padding: 0;
}
/* line 11, scss/style/modules/_item.scss */
.item-content h2, .item-content h3, .item-content h4, .item-content h5 {
  clear: both;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1em;
}

/* line 20, scss/style/modules/_item.scss */
.item-content-title {
  margin-top: 12px;
  font-size: 36px !important;
}

/* line 26, scss/style/modules/_item.scss */
.item-content-challenge,
.item-content-solution {
  width: 528px;
  margin: 12px 0;
  padding: 0 12px;
}
/* line 31, scss/style/modules/_item.scss */
.item-content-challenge h4,
.item-content-solution h4 {
  font-size: 30px;
}

/* line 35, scss/style/modules/_item.scss */
.item-content-challenge {
  float: right;
  text-align: left;
}

/* line 40, scss/style/modules/_item.scss */
.item-content-solution {
  float: left;
  text-align: right;
}

/* line 45, scss/style/modules/_item.scss */
.item-content > p {
  padding: 0 12px;
}

/* line 50, scss/style/modules/_item.scss */
.item-content {
  width: 1068px;
}
/* line 53, scss/style/modules/_item.scss */
.item-content > p {
  width: 708px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  /* line 58, scss/style/modules/_item.scss */
  .item-content {
    width: 100%;
  }

  /* line 59, scss/style/modules/_item.scss */
  .item-content > p {
    width: 100%;
  }

  /* line 62, scss/style/modules/_item.scss */
  .item-content-challenge,
  .item-content-solution {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 69, scss/style/modules/_item.scss */
  .item-content {
    width: 468px;
  }

  /* line 70, scss/style/modules/_item.scss */
  .item-content > p {
    width: 468px;
  }

  /* line 73, scss/style/modules/_item.scss */
  .item-content-challenge,
  .item-content-solution {
    width: 468px;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 80, scss/style/modules/_item.scss */
  .item-content {
    width: 708px;
  }

  /* line 81, scss/style/modules/_item.scss */
  .item-content > p {
    width: 468px;
  }

  /* line 84, scss/style/modules/_item.scss */
  .item-content-challenge,
  .item-content-solution {
    width: 348px;
  }
}
