/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, scss/style/_base.scss */
body {
  background: white;
  color: #333333;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  line-height: 32px;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  font-family: "Droid Serif", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #eeccb7;
}

/* line 24, scss/style/_base.scss */
::selection {
  background: #113348;
  color: #eeccb7;
}

/* line 25, scss/style/_base.scss */
::-moz-selection {
  background: #113348;
  color: #eeccb7;
}

/* line 26, scss/style/_base.scss */
img::selection {
  background: #113348;
  color: #eeccb7;
}

/* line 27, scss/style/_base.scss */
img::-moz-selection {
  background: #113348;
  color: #eeccb7;
}

/* line 30, scss/style/_base.scss */
a {
  color: #333333;
  text-decoration: underline;
}

/* line 31, scss/style/_base.scss */
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 32, scss/style/_base.scss */
a:active {
  color: #333333;
  text-decoration: underline;
}

/* line 34, scss/style/_base.scss */
em {
  font-style: italic;
  font-weight: normal;
}

/* line 35, scss/style/_base.scss */
hr {
  display: none;
}

/* line 37, scss/style/_base.scss */
cite {
  border-bottom: 1px dashed #ccc;
}

/* line 39, scss/style/_base.scss */
h1, h2 {
  font-weight: 500;
}

/* line 40, scss/style/_base.scss */
h3, h4, h5 {
  font-weight: 500;
}

/* line 42, scss/style/_base.scss */
h1, h2, h3, h4, h5 {
  font-family: "Museo Sans";
  text-transform: uppercase;
}

/* line 49, scss/style/_base.scss */
path {
  fill: white;
  stroke: none;
  stroke-width: 0;
}

/* line 59, scss/style/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/library/boxsizing.htc);
}

/* line 61, scss/style/_base.scss */
.left {
  float: left;
}

/* line 62, scss/style/_base.scss */
.right {
  float: right;
}

/* line 64, scss/style/_base.scss */
.block {
  display: block;
}

/* line 65, scss/style/_base.scss */
.inline {
  display: inline-block;
}

/* line 67, scss/style/_base.scss */
.relative {
  position: relative;
}

/* line 68, scss/style/_base.scss */
.absolute {
  position: absolute;
}

/* line 69, scss/style/_base.scss */
.fixed {
  position: fixed;
}

/* line 71, scss/style/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, scss/style/_layout.scss */
.slider-frame {
  width: 100%;
  overflow: hidden;
}

/* line 6, scss/style/_layout.scss */
.layout-header {
  margin: 48px auto 0 auto;
}
@media only screen and (max-width: 568px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 100%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 468px;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 708px;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 1153px) and (max-width: 1440px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1068px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1428px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 6, scss/style/_layout.scss */
  .layout-header {
    width: 1908px;
  }
}

/* line 17, scss/style/_layout.scss */
.layout-section {
  display: block;
  margin-top: 48px;
}

/* line 22, scss/style/_layout.scss */
#contact {
  margin-bottom: 96px;
}

/* line 27, scss/style/_layout.scss */
* {
  -webkit-transition-property: width, height, margin, padding, opacity, background-color, color, top, font;
  -moz-transition-property: width, height, margin, padding, opacity, background-color, color, top, font;
  -o-transition-property: width, height, margin, padding, opacity, background-color, color, top, font;
  transition-property: width, height, margin, padding, opacity, background-color, color, top, font;
  -webkit-transition-duration: 0.37s;
  -moz-transition-duration: 0.37s;
  -o-transition-duration: 0.37s;
  transition-duration: 0.37s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 38, scss/style/_layout.scss */
.grid {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 49, scss/style/_layout.scss */
.grid-display {
  -webkit-transition-property: width, opacity;
  -moz-transition-property: width, opacity;
  -o-transition-property: width, opacity;
  transition-property: width, opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  margin: 0 auto;
  background: url("http://stream.stumptownbear.com/grids/48.12.png") top left repeat;
}
@media only screen and (max-width: 568px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 100%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 468px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 708px;
  }
}
@media only screen and (min-width: 1153px) and (max-width: 1440px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 1068px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 1428px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 49, scss/style/_layout.scss */
  .grid-display {
    width: 1908px;
  }
}

/* line 1, scss/style/modules/_heading.scss */
.heading {
  display: block;
  padding: 130px 0 160px;
  background: #333;
}
/* line 8, scss/style/modules/_heading.scss */
.heading path {
  fill: white;
}

/* line 15, scss/style/modules/_heading.scss */
.heading-icon {
  margin: 0 auto;
  width: 228px;
  height: 137px;
}

/* line 23, scss/style/modules/_heading.scss */
.heading-title {
  margin: 24px auto 12px auto;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

/* line 34, scss/style/modules/_heading.scss */
.heading-nav {
  display: block;
  margin: 0 auto;
  width: 288px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Museo Sans";
  font-size: 20px;
  font-weight: 300;
  color: white;
}
/* line 46, scss/style/modules/_heading.scss */
.heading-nav > li {
  display: inline-block;
}
/* line 49, scss/style/modules/_heading.scss */
.heading-nav > li:not(:last-child):after {
  content: '.';
  margin: 0 6px;
}
/* line 55, scss/style/modules/_heading.scss */
.heading-nav > li > a {
  color: white;
  text-decoration: none;
}

/* line 58, scss/style/modules/_heading.scss */
.heading-nav-work:hover {
  color: #45c366;
  border-bottom: 1px solid #45c366;
}

/* line 59, scss/style/modules/_heading.scss */
.heading-nav-history:hover {
  color: #1ba4db;
  border-bottom: 1px solid #1ba4db;
}

/* line 60, scss/style/modules/_heading.scss */
.heading-nav-contact:hover {
  color: #d44242;
  border-bottom: 1px solid #d44242;
}

@media only screen and (max-width: 568px) {
  /* line 62, scss/style/modules/_heading.scss */
  .heading {
    padding: 100px 0 120px;
  }

  /* line 62, scss/style/modules/_heading.scss */
  .heading-title {
    font-size: 36px;
    margin: 12px auto 6px auto;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 63, scss/style/modules/_heading.scss */
  .heading {
    padding: 90px 0 100px;
  }

  /* line 63, scss/style/modules/_heading.scss */
  .heading-title {
    font-size: 36px;
    margin: 12px auto 6px auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 64, scss/style/modules/_heading.scss */
  .heading {
    padding: 80px 0 90px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1919px) {
  /* line 66, scss/style/modules/_heading.scss */
  .heading {
    padding: 150px 0 180px;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 67, scss/style/modules/_heading.scss */
  .heading {
    padding: 170px 0 200px;
  }
}
/* line 1, scss/style/modules/_media.scss */
.media > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 13, scss/style/modules/_media.scss */
.media-icon path {
  fill: white;
  stroke: none;
}

/* line 21, scss/style/modules/_media.scss */
.media > a {
  background: #f2f2f2;
  color: #333;
}

/* line 22, scss/style/modules/_media.scss */
.media > a:hover {
  background: #e6e6e6;
  color: #222;
}

/* line 23, scss/style/modules/_media.scss */
.media-icon {
  color: white;
}

/* line 1, scss/style/modules/_header.scss */
.header {
  position: relative;
  padding: 18px 0 18px 0;
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

/* line 12, scss/style/modules/_header.scss */
.header-arrow {
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -64px;
  width: 64px;
  height: 64px;
  color: #222;
  z-index: -1;
}
/* line 24, scss/style/modules/_header.scss */
.header-arrow path {
  fill: #fff;
}

/* line 27, scss/style/modules/_header.scss */
.header-title {
  font-weight: 500;
  font-size: 30px;
}

/* line 33, scss/style/modules/_header.scss */
.header-work {
  background-color: #4a975e;
}
/* line 36, scss/style/modules/_header.scss */
.header-work path {
  fill: #4a975e;
}

/* line 39, scss/style/modules/_header.scss */
.header-partners {
  background-color: #7f5f97;
}
/* line 42, scss/style/modules/_header.scss */
.header-partners path {
  fill: #7f5f97;
}

/* line 45, scss/style/modules/_header.scss */
.header-history {
  background-color: #396f85;
}
/* line 48, scss/style/modules/_header.scss */
.header-history path {
  fill: #396f85;
}

/* line 51, scss/style/modules/_header.scss */
.header-contact {
  background-color: #d44242;
}
/* line 54, scss/style/modules/_header.scss */
.header-contact path {
  fill: #d44242;
}

/* line 1, scss/style/modules/_item.scss */
.item {
  text-align: center;
}

/* line 6, scss/style/modules/_item.scss */
.item-content {
  margin: 12px auto;
}
/* line 9, scss/style/modules/_item.scss */
.item-content p, .item-content ul, .item-content ol {
  margin-bottom: 12px;
  padding: 0;
}
/* line 11, scss/style/modules/_item.scss */
.item-content h2, .item-content h3, .item-content h4, .item-content h5 {
  clear: both;
  margin-bottom: 12px;
  font-weight: normal;
  line-height: 1.1em;
  font-weight: 700;
}
/* line 19, scss/style/modules/_item.scss */
.item-content h3, .item-content h4 {
  font-size: 36px;
}
/* line 20, scss/style/modules/_item.scss */
.item-content h5 {
  font-size: 30px;
}

/* line 23, scss/style/modules/_item.scss */
.item-content-title {
  padding-top: 24px;
  font-size: 48px;
}

/* line 29, scss/style/modules/_item.scss */
.item-content-left,
.item-content-right {
  width: 528px;
  margin: 12px 0;
  padding: 0 12px;
}

/* line 36, scss/style/modules/_item.scss */
.item-content-left {
  float: left;
  text-align: right;
}

/* line 41, scss/style/modules/_item.scss */
.item-content-right {
  float: right;
  text-align: left;
}

/* line 46, scss/style/modules/_item.scss */
.item-content > p {
  padding: 0 12px;
}

/* line 51, scss/style/modules/_item.scss */
.item-content {
  width: 1068px;
}
/* line 54, scss/style/modules/_item.scss */
.item-content > p {
  width: 708px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 568px) {
  /* line 59, scss/style/modules/_item.scss */
  .item-content-title {
    font-size: 36px;
  }

  /* line 60, scss/style/modules/_item.scss */
  .item-content {
    width: 100%;
  }

  /* line 61, scss/style/modules/_item.scss */
  .item-content p {
    font-size: 18px;
    line-height: 28px;
  }

  /* line 62, scss/style/modules/_item.scss */
  .item-content > p {
    width: 100%;
  }

  /* line 65, scss/style/modules/_item.scss */
  .item-content-left,
  .item-content-right {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 72, scss/style/modules/_item.scss */
  .item-content-title {
    font-size: 36px;
  }

  /* line 73, scss/style/modules/_item.scss */
  .item-content {
    width: 468px;
  }

  /* line 74, scss/style/modules/_item.scss */
  .item-content p {
    font-size: 18px;
    line-height: 28px;
  }

  /* line 75, scss/style/modules/_item.scss */
  .item-content > p {
    width: 468px;
  }

  /* line 78, scss/style/modules/_item.scss */
  .item-content-left,
  .item-content-right {
    width: 468px;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 85, scss/style/modules/_item.scss */
  .item-content-title {
    font-size: 40px;
  }

  /* line 86, scss/style/modules/_item.scss */
  .item-content {
    width: 708px;
  }

  /* line 87, scss/style/modules/_item.scss */
  .item-content p {
    font-size: 18px;
    line-height: 28px;
  }

  /* line 88, scss/style/modules/_item.scss */
  .item-content > p {
    width: 468px;
  }

  /* line 91, scss/style/modules/_item.scss */
  .item-content-left,
  .item-content-right {
    width: 348px;
  }
}
/* line 1, scss/style/modules/_partner.scss */
.partner {
  width: 948px;
  margin: 48px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, scss/style/modules/_partner.scss */
.partner > p {
  margin: 48px 0;
  text-align: center;
}

/* line 10, scss/style/modules/_partner.scss */
.partner-item {
  position: relative;
  float: left;
  width: 228px;
  height: 228px;
  margin-bottom: 12px;
  padding: 24px;
  text-align: left;
  color: white;
  background: #333;
}
/* line 23, scss/style/modules/_partner.scss */
.partner-item:not(:nth-child(4n+1)) {
  margin-left: 12px;
}

/* line 26, scss/style/modules/_partner.scss */
.partner-name {
  line-height: 1.1em;
  font-size: 32px;
  font-weight: 700;
  word-spacing: 999em;
}

/* line 33, scss/style/modules/_partner.scss */
.partner-genre {
  display: block;
  position: absolute;
  bottom: 14.4px;
  left: 24px;
  font-size: 14px;
}

@media only screen and (max-width: 568px) {
  /* line 44, scss/style/modules/_partner.scss */
  .partner {
    width: 100%;
    padding: 24px;
  }

  /* line 45, scss/style/modules/_partner.scss */
  .partner-item {
    float: none;
    margin: 0 auto 12px auto;
  }

  /* line 46, scss/style/modules/_partner.scss */
  .partner-item:not(:nth-child(4n+1)) {
    margin-left: auto;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 50, scss/style/modules/_partner.scss */
  .partner {
    width: 468px;
  }

  /* line 51, scss/style/modules/_partner.scss */
  .partner-item:not(:nth-child(4n+1)) {
    margin-left: auto;
  }

  /* line 52, scss/style/modules/_partner.scss */
  .partner-item:not(:nth-child(2n+1)) {
    margin-left: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 56, scss/style/modules/_partner.scss */
  .partner {
    width: 708px;
  }

  /* line 57, scss/style/modules/_partner.scss */
  .partner-item:not(:nth-child(4n+1)) {
    margin-left: auto;
  }

  /* line 58, scss/style/modules/_partner.scss */
  .partner-item:not(:nth-child(3n+1)) {
    margin-left: 12px;
  }
}
/* line 1, scss/style/modules/_slider.scss */
.slider {
  margin: 24px 0;
}

/* line 4, scss/style/modules/_slider.scss */
.slider-list {
  position: relative;
  float: left;
  width: 100%;
  height: 480px;
  margin-top: 24px;
  overflow: hidden;
}

/* line 15, scss/style/modules/_slider.scss */
.slider-frame {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  overflow: hidden;
  margin-left: -354px;
  width: 708px;
}
/* line 26, scss/style/modules/_slider.scss */
.slider-frame.before.one {
  margin-left: -1074px;
}
/* line 27, scss/style/modules/_slider.scss */
.slider-frame.before.two {
  margin-left: -1794px;
}
/* line 28, scss/style/modules/_slider.scss */
.slider-frame.before.three {
  margin-left: -2514px;
}
/* line 30, scss/style/modules/_slider.scss */
.slider-frame.after.one {
  margin-left: 366px;
}
/* line 31, scss/style/modules/_slider.scss */
.slider-frame.after.two {
  margin-left: 1086px;
}
/* line 32, scss/style/modules/_slider.scss */
.slider-frame.after.three {
  margin-left: 1806px;
}
/* line 34, scss/style/modules/_slider.scss */
.slider-frame.one {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 35, scss/style/modules/_slider.scss */
.slider-frame.two {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
/* line 36, scss/style/modules/_slider.scss */
.slider-frame.three {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 39, scss/style/modules/_slider.scss */
.slider-frame.one:hover, .slider-frame.two:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

/* line 44, scss/style/modules/_slider.scss */
.slider-image {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* line 59, scss/style/modules/_slider.scss */
.slider-selector {
  margin: 3px auto;
  float: left;
  left: 50%;
  position: relative;
}
/* line 65, scss/style/modules/_slider.scss */
.slider-selector > ol {
  text-align: justify;
  float: left;
  position: relative;
  right: 50%;
}

/* line 73, scss/style/modules/_slider.scss */
.slider-selector-item {
  display: inline-block;
}
/* line 76, scss/style/modules/_slider.scss */
.slider-selector-item > a {
  display: block;
  width: 12px;
  height: 12px;
  padding: 7px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: #cccccc;
}
/* line 86, scss/style/modules/_slider.scss */
.slider-selector-item > a:hover {
  background: gray;
}
/* line 88, scss/style/modules/_slider.scss */
.slider-selector-item.active > a {
  background: #333333;
}

@media only screen and (max-width: 568px) {
  /* line 96, scss/style/modules/_slider.scss */
  .slider-list {
    height: 260px;
  }

  /* line 97, scss/style/modules/_slider.scss */
  .slider-frame {
    margin-left: -50%;
    width: 100%;
  }
  /* line 101, scss/style/modules/_slider.scss */
  .slider-frame.before.one {
    margin-left: -95%;
  }
  /* line 102, scss/style/modules/_slider.scss */
  .slider-frame.before.two {
    margin-left: -200%;
  }
  /* line 103, scss/style/modules/_slider.scss */
  .slider-frame.before.three {
    margin-left: -300%;
  }
  /* line 105, scss/style/modules/_slider.scss */
  .slider-frame.after.one {
    margin-left: 95%;
  }
  /* line 106, scss/style/modules/_slider.scss */
  .slider-frame.after.two {
    margin-left: 200%;
  }
  /* line 107, scss/style/modules/_slider.scss */
  .slider-frame.after.three {
    margin-left: 300%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 113, scss/style/modules/_slider.scss */
  .slider-list {
    height: 300px;
  }

  /* line 114, scss/style/modules/_slider.scss */
  .slider-frame {
    margin-left: -234px;
    width: 468px;
  }
  /* line 118, scss/style/modules/_slider.scss */
  .slider-frame.before.one {
    margin-left: -714px;
  }
  /* line 119, scss/style/modules/_slider.scss */
  .slider-frame.before.two {
    margin-left: -1428px;
  }
  /* line 120, scss/style/modules/_slider.scss */
  .slider-frame.before.three {
    margin-left: -2142px;
  }
  /* line 122, scss/style/modules/_slider.scss */
  .slider-frame.after.one {
    margin-left: 246px;
  }
  /* line 123, scss/style/modules/_slider.scss */
  .slider-frame.after.two {
    margin-left: 726px;
  }
  /* line 124, scss/style/modules/_slider.scss */
  .slider-frame.after.three {
    margin-left: 1206px;
  }
}
/* line 1, scss/style/modules/_timeline.scss */
.timeline {
  margin-top: 48px;
  padding-bottom: 12px;
}

/* line 6, scss/style/modules/_timeline.scss */
.timeline-item {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 24px;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  width: 708px;
  overflow: hidden;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 19, scss/style/modules/_timeline.scss */
.timeline-item.is-hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 22, scss/style/modules/_timeline.scss */
.timeline-item-date {
  display: block;
  width: 168px;
  height: 55px;
  margin: 0 auto 10px auto;
  padding: 12px 0;
  text-align: center;
  font-family: "Museo Slab";
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  background-color: #ddd;
}

/* line 39, scss/style/modules/_timeline.scss */
.timeline-item-story {
  text-align: center;
  line-height: 32px;
  font-size: 20px;
}

/* line 45, scss/style/modules/_timeline.scss */
.touch .timeline-item-date {
  background-color: #222;
  color: #eef5f8;
}

/* line 50, scss/style/modules/_timeline.scss */
.timeline-item.scroll {
  background-color: #eef5f8;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 55, scss/style/modules/_timeline.scss */
.timeline-item.scroll .timeline-item-date {
  background-color: #222;
  color: #eef5f8;
}
/* line 59, scss/style/modules/_timeline.scss */
.timeline-item.scroll .timeline-item-story {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 61, scss/style/modules/_timeline.scss */
.timeline-item.scroll ~ .timeline-item {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

@media only screen and (max-width: 568px) {
  /* line 67, scss/style/modules/_timeline.scss */
  .timeline-item {
    width: 100%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 72, scss/style/modules/_timeline.scss */
  .timeline-item {
    width: 468px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 77, scss/style/modules/_timeline.scss */
  .timeline-item {
    width: 708px;
  }
}
/* line 1, scss/style/modules/_footer.scss */
.footer {
  position: relative;
  width: 1068px;
  margin: 0 auto 48px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, scss/style/modules/_footer.scss */
.footer > p {
  margin: 48px 0;
  text-align: center;
}

/* line 11, scss/style/modules/_footer.scss */
.footer-me {
  position: relative;
  width: 1068px;
  height: 520px;
  margin: 48px auto;
  overflow: hidden;
}

/* line 21, scss/style/modules/_footer.scss */
.footer-me-thats-me {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* line 29, scss/style/modules/_footer.scss */
.footer-paragraph {
  width: 468px;
  margin: 0 auto 24px auto;
  text-align: center;
}

/* line 30, scss/style/modules/_footer.scss */
.footer-contacts {
  width: 708px;
  margin: 24px auto 48px auto;
}

/* line 33, scss/style/modules/_footer.scss */
.footer-break {
  display: block;
  margin: 0 auto 24px auto;
  width: 228px;
  height: 1px;
  border: none;
  background: #eee;
}

/* line 43, scss/style/modules/_footer.scss */
.footer-media {
  position: relative;
  float: left;
  width: 348px;
  height: 228px;
  overflow: hidden;
}
/* line 51, scss/style/modules/_footer.scss */
.footer-media:not(:nth-child(3n+1)) {
  margin-left: 12px;
}
/* line 53, scss/style/modules/_footer.scss */
.footer-media a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  background: #333;
}
/* line 61, scss/style/modules/_footer.scss */
.footer-media a:hover {
  background-color: #222;
}
/* line 64, scss/style/modules/_footer.scss */
.footer-media a:hover path {
  fill: #404040;
}

/* line 69, scss/style/modules/_footer.scss */
.footer-media-icon {
  position: absolute;
  top: 25%;
  right: 25%;
  bottom: -25%;
  left: -50%;
  z-index: 5;
}
/* line 78, scss/style/modules/_footer.scss */
.footer-media-icon path {
  fill: #444;
}

/* line 83, scss/style/modules/_footer.scss */
.footer-media-label {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

@media only screen and (max-width: 568px) {
  /* line 97, scss/style/modules/_footer.scss */
  .footer {
    width: 100%;
    padding: 24px;
  }

  /* line 98, scss/style/modules/_footer.scss */
  .footer-me {
    position: relative;
    width: 100%;
    height: 280px;
  }

  /* line 100, scss/style/modules/_footer.scss */
  .footer-contacts {
    width: 100%;
  }

  /* line 102, scss/style/modules/_footer.scss */
  .footer-media {
    clear: both;
    float: none;
    display: block;
    margin: 24px auto 0 auto !important;
    width: 100%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  /* line 113, scss/style/modules/_footer.scss */
  .footer {
    width: 468px;
  }

  /* line 115, scss/style/modules/_footer.scss */
  .footer-me {
    width: 468px;
    height: 320px;
  }

  /* line 116, scss/style/modules/_footer.scss */
  .footer-contacts {
    width: 468px;
  }

  /* line 117, scss/style/modules/_footer.scss */
  .footer-media {
    width: 468px;
    margin-bottom: 12px;
    margin-left: auto !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1152px) {
  /* line 125, scss/style/modules/_footer.scss */
  .footer {
    width: 708px;
  }

  /* line 127, scss/style/modules/_footer.scss */
  .footer-me {
    width: 708px;
    height: 440px;
  }
}
