
{{#partners}}
    <article  class="partner-item">
        <h4   class="partner-name">{{name}}</h4>
        <span class="partner-genre partner-genre-{{raw}}">{{genre}}</span>
    </article>
{{/partners}}