{{#timeline}}
    <li class="timeline-item">
        <span class="timeline-item-date">{{year}}</span>
        <p    class="timeline-item-story">{{story}}</p>
        
        {{#loc}}<div class="timeline-item-map" data-map-latitude="{{latitudee}}" data-map-longitude="{{longitude}}"></div>{{/loc}}
    </li>
{{/timeline}}