{{#work}}
    <article class="item" id="{{id}}">
        <section class="slider">
            <ul class="slider-list">{{#media}}
                <li class="slider-frame"><a href="#{{link}}{{index}}"><img class="slider-image" src="{{url}}" /></a></li>
            {{/media}}</ul>
            
            <nav class="slider-selector"><ol>{{#media}}
                <li class="slider-selector-item"><a href="#{{link}}{{index}}"></a></li>
            {{/media}}</ol></nav>
        </section>
        
        <section class="item-content">
            <h2 class="item-content-title">{{title}}</h2>
            
            {{#content}}
                {{&.}}      
            {{/content}}
            
        	<ul class="item-list">{{#technologies}}
        	    <li>{{.}}</li>
        	{{/technologies}}</ul>
        </section>
    </article>
{{/work}}